# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
*.iml
*.class
.gradle
/build
/android/.gradle
/android/build
/android/captures
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
**/*.hprof

# Web
/web/*.g.dart
/web/*.js

# Windows
*.msix
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

